.wc-loja-item {
    &:nth-child(2n) {
        margin-left: 10px;
    }
    height: 211px;
    width: 358px;
    border-radius: 3px;
    background-color: $body-color;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    @extend %flex;
    padding: 18px;
    .attachment-shop_catalog {
        &.size-shop_catalog {
            &.wp-post-image {
                height: 174px;
                width: 112px;
                object-fit: cover;
                margin-right: 7px;
            }
        }
    }
    .wc-item-info {
        display: flex;
        flex-wrap: wrap;
        .wc-price {
            width: 100%;
            height: 34px;
            .price {
                del {
                    display: none;
                }
                ins {
                    text-decoration: none;
                    .woocommerce-Price-amount {
                        &.amount {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .wc-item-action {
            width: 100%;
            a {
                @extend .button-xl;
                padding: 13px 45px;
            }
        }
    }
    .item-titulo {
        width: 100%;
        height: 48%;
        display: block;
    }
    .woocommerce-loop-product__title {
        font-size: 17px;
        margin: 0;
        height: 40%;
        width: 100%;
        text-overflow: clip;
    }
}

.wc-loja {
    background: $bg-alternative-color;
    overflow: hidden;
    min-height: 500px;
    padding-top: 27px;
    .products {
        @extend %flex;
        list-style: none;
        justify-content: flex-start;
    }
}

.wc-shop-sidebar{
    height: 100%;
    padding: 17.03px;
    @extend %border-radius-3;
    background-color: $body-color;
    box-shadow: 0 2px 3px 0 rgba($black-color, 0.1);
    overflow: hidden;
}